[Unit]
Description=Time-lapse Camera Application
Requires=timelapse-migrate.service
Wants=timelapse-api.service
Wants=timelapse-worker.service
After=timelapse-migrate.service

[Install]
WantedBy=multi-user.target
